<div class="container half-screen">
  <div clas="align-center">
     
  <div class="border">
    <div class="m-4">
      <form novalidate [formGroup]="employeeForm">
        <fieldset formGroupName="name">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName" required
              [ngClass]="{ 'is-valid': firstName.valid }">
            <div class="form-control-feedback"
              *ngIf="firstName.errors && (submitted || firstName.dirty || firstName.touched)">
              <p *ngIf="firstName.errors.required">
                <span class="error-msg">First Name is required</span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" required
              [ngClass]="{ 'is-valid': lastName.valid }">
            <div class="form-control-feedback"
              *ngIf="lastName.errors && (submitted || lastName.dirty || lastName.touched)">
              <p *ngIf="lastName.errors.required"><span class="error-msg">Last Name is required</span></p>
            </div>
          </div>
        </fieldset>
        <div class="form-group">
          <label>Gender</label>
          <select class="form-control" formControlName="gender" [ngClass]="{ 'is-valid': gender.valid }">
            <option value="">Please select a Gender</option>
            <option *ngFor="let g of genders" [value]="g">{{ g }}</option>
          </select>
          <div class="form-control-feedback" *ngIf="gender.errors && (submitted || gender.dirty || gender.touched)">
            <p *ngIf="gender.errors.required"><span class="error-msg">Gender is required</span></p>
          </div>
        </div>
        <div class="form-group">
          <label>Date of Birth</label>
          <input type="date" class="form-control" formControlName="dob" required [ngClass]="{ 'is-valid': dob.valid }">
          <div class="form-control-feedback" *ngIf="dob.errors && (submitted || dob.dirty || dob.touched)">
            <p *ngIf="dob.errors.required"><span class="error-msg">Date of Birth is required</span></p>
          </div>
        </div>
        <div class="form-group">
          <label>Department</label>
          <input type="text" class="form-control" formControlName="department" required
            [ngClass]="{ 'is-valid': department.valid }">
          <div class="form-control-feedback"
            *ngIf="department.errors && (submitted || department.dirty || department.touched)">
            <p *ngIf="department.errors.required"><span class="error-msg">Department is required</span></p>
          </div>
        </div>
      </form>
      <button type="submit" class="btn btn-dark" (click)="registerEmployee()">Submit</button>
      <h3 *ngIf="success">{{ errorMsg }}</h3>
    </div>
  </div>  

    
  </div>
</div>