<div class="center">
  <div class="card">
    <div class="align-center">
     
        <img src="../assets/image/Societe-Generale.jpg" class="card-img-top" alt="..."
          style="height: 150px; width: 150px;">
   
        <h4 class="space"> Societe Generale Problem Statement (KATA) </h4>
      

      <div class="card-body">
        <button class="animated-button button" routerLink="/register">
          <span>Register Employee</span>
        </button>
        <button class="animated-button button" routerLink="/employeeList">
          <span>View Employees</span>
        </button>
      </div>
    </div>
  </div>
</div>